.panel{
	border: 1px $border-color solid;

	&-heading{
		background-color: white;
		border-bottom	: 1px $border-color solid;
		font-size		: 1.5em;
		padding			: 5px;
	}
	&-body{
		padding			: 5px;
	}
	&-footer{
		border-top	: 1px $border-color solid;
		background	: lighten($border-color, 10%);
		padding		: 5px;
	}
}