$default-text-color	: black;

$border-color		: #ddd;
$border-color-focus	: #66afe9;

$default			: #e6e6e6;
$primary			: #428bca;
$success			: #3C6F18;
$info				: #62d0f1;
$warning			: #FFB61E;
$danger				: #E5343D;


$input-color		: #555;
$input-active-color	: black;

$link-color			: #0667D6;
$link-hover			: #36b4d8;


// $default
// $primary
// $success
// $info
// $warning
// $danger