a {
  text-decoration: none;
  cursor: pointer; }

html, body {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 1.42857143; }

.cursor-text {
  cursor: text; }

.cursor-pointer {
  cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 500; }

h1 {
  margin: 20px 0;
  font-size: 36px;
  border-bottom: 1px solid #ddd; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

input, .select {
  -webkit-touch-callout: initial;
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: element;
  -ms-user-select: initial;
  user-select: initial; }

.no-select, body, input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="email"]:disabled,
input[type="phone"]:disabled,
textarea:disabled,
select:disabled {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }

body, input, textarea {
  box-sizing: border-box; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="phone"],
textarea,
select {
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #555;
  border: 1px #ddd solid;
  box-shadow: inset 0 1px 1px rgba(221, 221, 221, 0.5);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="phone"]:focus,
  textarea:focus,
  select:focus {
    border-color: #66afe9;
    color: black;
    outline: none; }
  input[type="text"]:disabled,
  input[type="password"]:disabled,
  input[type="email"]:disabled,
  input[type="phone"]:disabled,
  textarea:disabled,
  select:disabled {
    cursor: default;
    background: #f7f7f7;
    color: GrayText; }

.btn, [class^="btn-"], [class*=" btn-"] {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 6px 12px;
  color: white;
  border: 1px #e6e6e6 solid;
  margin: 5px;
  touch-action: manipulation;
  cursor: pointer; }
  .btn:active, [class^="btn-"]:active, [class*=" btn-"]:active {
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset; }

.btn, .btn-default {
  background: #e6e6e6;
  background: linear-gradient(to top, #e6e6e6, white);
  border-color: #cdcdcd;
  color: #555; }
  .btn:hover, .btn-default:hover {
    background: #cdcdcd;
    background: linear-gradient(to top, #cdcdcd, #e6e6e6);
    border-color: #b3b3b3; }

.btn-primary {
  background: #428bca;
  background: linear-gradient(to top, #428bca, #6aa3d5);
  border-color: #3071a9; }
  .btn-primary:hover {
    background: #3071a9;
    background: linear-gradient(to top, #3071a9, #428bca);
    border-color: #245682; }

.btn-sucess {
  background: #3C6F18;
  background: linear-gradient(to top, #3C6F18, #539921);
  border-color: #25450f; }
  .btn-sucess:hover {
    background: #25450f;
    background: linear-gradient(to top, #25450f, #3c6f18);
    border-color: #0f1b06; }

.btn-info {
  background: #62d0f1;
  background: linear-gradient(to top, #62d0f1, #91def5);
  border-color: #33c2ed; }
  .btn-info:hover {
    background: #33c2ed;
    background: linear-gradient(to top, #33c2ed, #62d0f1);
    border-color: #13acda; }

.btn-warning {
  background: #FFB61E;
  background: linear-gradient(to top, #FFB61E, #ffc751);
  border-color: #ea9e00; }
  .btn-warning:hover {
    background: #ea9e00;
    background: linear-gradient(to top, #ea9e00, #ffb61e);
    border-color: #b77c00; }

.btn-danger {
  background: #E5343D;
  background: linear-gradient(to top, #E5343D, #eb6168);
  border-color: #cc1a23; }
  .btn-danger:hover {
    background: #cc1a23;
    background: linear-gradient(to top, #cc1a23, #e5343d);
    border-color: #9f141b; }

blockquote {
  padding: 10px 20px;
  margin: 0 0 0 20px;
  border-left: 5px solid; }

/**
 * tricks:
 * 		add classes: text-default, text-sucess, ... to set text colors and border color
 */
cite {
  color: #e6e6e6;
  font-size: 80%;
  line-height: 1.42857143; }
  cite:before {
    content: '\2014 \00A0'; }

/*
<dl>
  <dt>...</dt>
  <dd>...</dd>
</dl>
 */
table .table {
  width: 100%;
  border-collapse: collapse; }
  table .table td, table .table th {
    border: 1px solid #ddd; }

table.table-striped tr:nth-child(even) {
  background: #e6e6e6; }

table.table-hover tr:hover {
  background: white; }

.panel {
  border: 1px #ddd solid; }
  .panel-heading {
    background-color: white;
    border-bottom: 1px #ddd solid;
    font-size: 1.5em;
    padding: 5px; }
  .panel-body {
    padding: 5px; }
  .panel-footer {
    border-top: 1px #ddd solid;
    background: #f7f7f7;
    padding: 5px; }

.default, .default input, .default textarea, .default select {
  color: #e6e6e6;
  border-color: #e6e6e6; }

.primary, .primary input, .primary textarea, .primary select {
  color: #428bca;
  border-color: #428bca; }

.sucess, .sucess input, .sucess textarea, .sucess select {
  color: #3C6F18;
  border-color: #3C6F18; }

.info, .info input, .info textarea, .info select {
  color: #62d0f1;
  border-color: #62d0f1; }

.warning, .warning input, .warning textarea, .warning select {
  color: #FFB61E;
  border-color: #FFB61E; }

.danger, .danger input, .danger textarea, .danger select {
  color: #E5343D;
  border-color: #E5343D; }

.block {
  display: block;
  width: 100%; }
