
.default	{color: $default;	border-color: $default}
.primary	{color: $primary;	border-color: $primary}
.success	{color: $success;	border-color: $success}
.info		{color: $info;		border-color: $info}
.warning	{color: $warning;	border-color: $warning}
.danger		{color: $danger;	border-color: $danger}