.table, [class^="table-"], [class*=" table-"]{
	width			: 100%;
	border-collapse	: collapse;

	thead{
		border-bottom: 2px solid $border-color;
	}

	td, th{
		padding	: 5px;
	}
}
.table{
	tr{
		border-bottom: 1px solid $border-color;
	}


	&-bordered{
		td,th{
			border: 1px solid $border-color;
		}
	}

	&-striped{
		tr:nth-child(odd){
			background: lighten($default, 5%);
		}
	}

	&-hover{
		tbody{
			tr:hover{
				background: lighten($default, 2%);
			}
		}
	}
}