.wysiwyg .menu {
  background: #f0f0f0;
  border-radius: 10px 10px 0 0; }
  .wysiwyg .menu .toolbar {
    padding: 8px; }
    .wysiwyg .menu .toolbar .btns-group {
      margin: 0 3px; }

.wysiwyg .zonetext {
  min-height: 500px;
  padding: 5px;
  border: 3px solid #f0f0f0;
  border-radius: 0 0 10px 10px;
  border-top: none; }
  .wysiwyg .zonetext:focus {
    outline: none; }
  .wysiwyg .zonetext table {
    display: inline-block; }
    .wysiwyg .zonetext table td {
      border: 1px solid #000;
      min-width: 10px; }
