.wysiwyg .menu {
  background: #99c7b9;
  border-radius: 10px 10px 0 0; }
  .wysiwyg .menu .toolbar {
    border-bottom: 1px solid #c3ded6;
    height: 40px; }
  .wysiwyg .menu .menubtn {
    height: 40px; }

.wysiwyg .zonetext {
  height: 500px;
  padding: 5px;
  border: 3px solid #99c7b9;
  border-radius: 0 0 10px 10px;
  border-top: none; }
  .wysiwyg .zonetext:focus {
    outline: none; }
