html,body{
	height	: 100%;
	padding	: 0;
	margin	: 0;
}

body{
	font-family	: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size	: 12px;
	line-height: 1.42857143;
	// background	: transparent!important;

	@extend .no-select;
}