input,.select{
	-webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: element;
    -ms-user-select: initial;
    user-select: initial;
}