.btn,[class^="btn-"],[class*=" btn-"]{
	display			: inline-block;
	text-align		: center;
	white-space		: nowrap;
	vertical-align	: middle;
	padding			: 6px 12px;
	border-radius	: 2px;
	color			: white;
	border			: 1px $default solid;
	margin			: 5px;
	touch-action	: manipulation;
	cursor			: pointer;
	// -webkit-appearance: button;
}

.btn{
	color: darken($default, 60%);

	&-default{
		background	:$default;
		border-color: darken($default, 10%);
		color		: darken($default, 60%);
		&:hover{background: lighten($default, $amount)}
	}
	&-primary{
		background	:$primary;
		border-color: darken($primary, 10%);
	}
	&-sucess{
		background	:$sucess;
		border-color: darken($sucess, 10%);
	}
	&-info{	
		background	:$info;
		border-color: darken($info, 10%);
	}
	&-warning{
		background	:$warning;
		border-color: darken($warning, 10%);
	}
	&-danger{
		background	:$danger;	
		border-color: darken($danger, 10%);
	}
}
