[data-calendar], .calendar{
	display	: inline-block;
	width	: 250px;
	border	: 1px solid $border-color;

	&:empty{
		@extend %component-loading;
	}
}

.calendar{

	&.anim{
		pointer-events: none;
	}
	&-content{
		white-space: nowrap;
		overflow: hidden;
		position: relative;
		padding	: 5px;
		&>div{
			display: inline-block;
		}

		&.anim-goIn, &.anim-goOut{
			overflow: visible;
			&>*{
				position: absolute;
				top		: 0;
				left	: 0;
			}
		}
		&.anim-goIn{
			&>*:first-child{
				animation: goInFront 0.3s ease;
			}
			&>*:last-child{
				position: initial;
				animation: goInBack 0.3s ease;
			}
		}

		&.anim-goOut{
			&>*:first-child{
				position: initial;
				animation: goInBack 0.3s ease reverse;
			}
			&>*:last-child{
				animation: goInFront 0.3s ease reverse;
			}
		}

		// &.anim-goIn{

		// }
		// &.anim-goOut{
		// 	overflow: visible;
		// }
	}

	&-months{
		white-space: normal;

		.btn{
			width	: 67px;
			padding	: 6px 0;
		}
	}

	&-days{
		text-align: center;

		b, .btn{
			display	: inline-block;
			width	: 34px;
			padding	: 6px 0;
			margin	: 0;
		}
	}

	&-timer{
		text-align	: center;
		position	: relative;
	}
	&-timer-lne{
		position	: absolute;
		width		: 100%;
		top			: 4em;
		border		: $border-color solid;
		border-width: 1px 0;
		height		: 2em;
	}

	.btn{
		border: none;
	}

	.btn{
		&.selected{
			outline	: 1px $primary solid;
			z-index	: 10;
			position: relative;
		}
	}

	.obsolete{
		border-radius: 0;
		&:hover{
			outline	: 1px $border-color solid;
			outline-offset: -1px;
		}
	}
}


// animations
// goIn
	@keyframes goInFront{
		from{transform: scale(1); opacity: 1;}
		to{transform: scale(1.5); opacity: 0;}
	}

// goOut
	@keyframes goInBack{
		from{transform: scale(0.5); opacity: 0;}
		to{transform: scale(1); opacity: 1;}
	}



